@import libs
@import vars
@import fonts
@import mixins/font-size
@import abbreviation

body
    font-family: $default-font
    font-size: #{$font-size}px
    color: $color-000
    background-color: $color-fff