// product choice
.choiceBtn
    padding: 8px 12px
    color: $color-883 !important
    font-size: rem(15)
    border: 1px solid $color-883
    border-radius: 10px
    transition: .2s

    &:hover
        @extend .active

    &.active
        color: $color-fff !important
        border-color: $color-000
        background: $color-000

// product buy
.buyBtn
    padding: 8px 0
    color: $color-883 !important
    font-size: rem(15)
    border: 1px solid $color-883
    border-radius: 10px
    width: 100%
    transition: .2s

    &:hover
       color: $color-fff !important
       border-color: $color-000
       background: $color-000

// auth login
.loginBtn
    display: inline-block
    padding: 8px 30px
    color: $color-3b4 !important
    font-size: rem(15)
    border: 1px solid $color-3b4
    border-radius: 10px
    transition: .2s

    &:hover
        color: $color-fff !important
        border-color: $color-3b4
        background: $color-3b4

// admin submit
.submitBtn
    padding: 8px 30px
    color: $color-fff !important
    font-size: rem(15)
    border: 1px solid $color-883
    background-color: $color-883
    border-radius: 10px
    transition: .2s

    display: flex
    margin: 0 0 0 auto

    &:hover
        color: $color-883 !important
        background: $color-fff

// admin edit
.editBtn
    width: 100%
    padding: 8px 0
    color: $color-fff !important
    font-size: rem(15)
    border: 1px solid $color-107
    background-color: $color-107
    border-radius: 10px
    transition: .2s

    &:hover
        color: $color-107 !important
        background: $color-fff

// admin remove
.removeBtn
    width: 100%
    padding: 8px 0
    color: $color-fff !important
    font-size: rem(15)
    border: 1px solid $color-545
    background-color: $color-545
    border-radius: 10px
    transition: .2s

    &:hover
        color: $color-545 !important
        background: $color-fff
