.choice
  display: block
  text-align: center
  transition: .2s
  transform: scale(1)

  &:hover
   text-decoration: none
   transform: scale(0.8)

   .choice
     &Btn
       color: $color-fff !important
       border-color: $color-000
       background: $color-000

  &Img
    width: 80%

  &Title
    font-family: Ubuntu-Medium, sans-serif
    color: $color-000
    font-size: rem(18)
    margin:
      top: 10px
      bottom: 15px

  &Btn
    padding: 8px 12px
    color: $color-883 !important
    font-size: rem(15)
    border: 1px solid $color-883
    border-radius: 10px
    transition: .2s