.product
    background: $color-6f6
    border-radius: 10px
    padding: 
        top: 20px
        bottom: 20px
    margin-bottom: 20px

    &Title
        color: $color-883
        font-size: rem(33)
        margin-bottom: 0

    &Img
        transition: .2s
        transform: scale(1)

        &:hover
            cursor: pointer
            transform: scale(1.2)

    &Price, &Count
        font-family: Ubuntu-Medium, sans-serif
        font-size: rem(30)

    &Desc
        font-size: rem(17)
