.product
    padding: 
        top: 20px
        bottom: 20px
    margin-bottom: 20px

    &Title
        color: $color-883
        font-size: rem(33)
        margin-bottom: 0

    &Price, &Count
        font-family: Ubuntu-Medium, sans-serif
        font-size: rem(30)

    &Desc
        font-size: rem(17)
